<div class = "global">
  <div class="container">
    <h2>Registrate</h2>
    <form>
      <div class="form-control">
        <input type="text" required>
        <label>Mail</label>
      </div>
      <div class="form-control">
        <input type="text" required>
        <label>Nombre de usuario</label>
      </div>
      <div class="form-control">
        <input type="number" required>
        <label>Edad</label>
      </div>
      <div class="form-control">
        <input type="password" required>
        <label>Contraseña</label>
      </div>
      <button type="submit" class="btn globalBtn">Registrar</button>
    </form>
  </div>
</div>
