<div class = "global" [ngSwitch]="view">
  <div class="container" *ngSwitchDefault>
    <h2>Registrate</h2>
    <form>
      <div class="form-control">
        <input type="text" id="email" name="email" required [(ngModel)]="email">
        <label>Mail</label>
      </div>
      <div class="form-control">
        <input type="text" required id="username"  name="username" [(ngModel)]="username">
        <label>Nombre de usuario</label>
      </div>
      <div class="form-control">
        <input type="number" required id="edad" name="edad" [(ngModel)]="edad">
        <label>Edad</label>
      </div>
      <div class="form-control">
        <input type="password" required id="password" name="password" [(ngModel)]="password">
        <label>Contraseña</label>
      </div>
      <button type="submit" (click)="onSubmit()" class="btn globalBtn">Siguiente</button>
    </form>
  </div>
  <div *ngSwitchCase="1">
    <h2>Direccion</h2>
    <form>
      <div class="form-control">
        <input type="text" id="calle" name="calle" required [(ngModel)]="direccion.calle">
        <label>Calle</label>
      </div>
      <div class="form-control">
        <input type="number" required id="numero"  name="numero" [(ngModel)]="direccion.numero">
        <label>Numero de calle</label>
      </div>
      <div class="form-control">
        <input type="text" required id="comuna" name="comuna" [(ngModel)]="direccion.comuna">
        <label>Comuna</label>
      </div>
      <div class="form-control">
        <input type="text" required id="region" name="region" [(ngModel)]="direccion.region">
        <label>Region</label>
      </div>
      <button type="submit" (click)="crearDireccion()" class="btn globalBtn">Registrar</button>
    </form>
  </div>
</div>
